include ../mixins

main.main
  .page-item.education
    +itemHeader("../../static/img/education.png", 'education')
  ul.education-list
    li.education-list__item
      span.education-list__title.education-list__title_color_blue Master Degree //  Feb 2011 - Jun 2014
      span.education-list__subtitle University Name
      p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li.education-list__item
      span.education-list__title.education-list__title_color_blue Master Degree //  Feb 2011 - Jun 2014
      span.education-list__subtitle University Name
      p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li.education-list__item
      span.education-list__title.education-list__title_color_blue Master Degree //  Feb 2011 - Jun 2014
      span.education-list__subtitle University Name
      p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    li.education-list__item
      span.education-list__title.education-list__title_color_blue Master Degree //  Feb 2011 - Jun 2014
      span.education-list__subtitle University Name
      p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
  .page-item.experience
    +itemHeader("../../static/img/suitcase.png", 'experience')
    ul.education-list
      li.education-list__item
        span.education-list__title Company Name //  Feb 2011 - Jun 2014
        span.education-list__subtitle Your job here
        p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li.education-list__item
        span.education-list__title Company Name //  Feb 2011 - Jun 2014
        span.education-list__subtitle Your job here
        p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li.education-list__item
        span.education-list__title Company Name //  Feb 2011 - Jun 2014
        span.education-list__subtitle Your job here
        p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li.education-list__item
        span.education-list__title Company Name //  Feb 2011 - Jun 2014
        span.education-list__subtitle Your job here
        p.education-list__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.  
  .page-item.software
    +itemHeader("../../static/img/computer.png", 'software')
    .progressBar-list
      +progressBar('photoshop', 90)
      +progressBar('illustrator', 70)        
      +progressBar('indesign', 60)        
      +progressBar('dreamweaver', 70)
      +progressBar('after effects', 70)        
      +progressBar('html&css', 90)
            
