@import 'vars';
@import 'modules/aside/aside';
body{
  box-sizing: border-box;
  margin: 0;
}
.wrapper{

  max-width:1920px;
  min-width: 320px;
}
.progress-bar__wrapper{
  width: 100px;
  height: 20px;
.progress-bar__value{
  height: 20px;
  background: red;
  color: red;
}}
