.aside{
  width: 40%;
  font-family: 'Conv_MyriadPro-Regular', sans-serif;

  .user{
    font-size: 3.9em;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    &__img{
      margin-left: 205px;
      width: 257px;
      height: 257px;
      border:2px solid $circle-color;
      background: #fff;
      border-radius: 50%;
      padding: 18px;
      margin-bottom: 32px;
      margin-top: 95px;
      .img{
        background: $circle-color;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__name{
      word-spacing: -0.1rem;
      margin-left: 90px;
      font-weight: 200;
    }
    &__surname{
      margin-left: 90px;
      font-size: 4.5rem;
      font-weight: bold;
    }
    &__description{

    }
  }
}
