.profile{
  margin-top: 5.9rem;
  margin-left: 5rem;
    .page-item__text{
      margin-top: 1rem;
      font-size: 1.2rem;
      &-bold{
        line-height: 1.3;
        font-weight: bold;
      }
    }
  }


.contact{
  margin-top: 3.5rem;
  .contact-list{
    list-style-type: none;
    margin: 0;
    &__item{
      margin-top: 2.5rem;
      position: relative;
    }
    &__subtitle{
      text-transform: uppercase;
      font-family: 'Conv_MyriadPro-Bold';
      color: $main-color;
      font-size: 1.6rem;
    }
    &__value{
      letter-spacing: 1px;
      position: absolute;
      left: 10.3rem;
      font-size: 1.5rem;
    }
  }
}
