.user{
  font-size: 4.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  &__img{
    margin-left: 205px;
    width: 257px;
    height: 257px;
    border:2px solid $main-color;
    background: #fff;
    border-radius: 50%;
    padding: 18px;
    margin-bottom: 35px;
    margin-top: 95px;
    .img{
      background: $main-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__name{
    word-spacing: 0.9rem;
    margin-left: 75px;
    font-weight: lighter;
  }
  &__surname{
    font-weight: 600;
    font-size:5rem;
    line-height: 0.8;
    letter-spacing: 3.5px;
    margin-left: 75px;
  }
  &__description{
    font-size: 2rem;
    line-height: 1.6;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: 600;
  }
}
